<html>
<head th:replace="~{fragment :: head}"></head>
<body>
	<div th:replace="~{fragment :: menu}"></div>
	<div class="container">
		<div th:replace="~{fragment :: titulo('Apostas Favoritas')}"></div>
	<div class="card mb-3 mt-3" th:each="aposta : ${apostas}">
		<div class="card-body">
			<div class="row ">
				<div class="col-12 col-sm-9 ">
					<div>
						Números apostas: <span th:text="${aposta.numeros}"></span>
					</div>
					<div>
						Status: <span th:text="${aposta.status}"></span>
					</div>
				</div>
				<div class="col-12 col-sm-3">
				<form th:if ="${#httpServletRequest.requestURI != '/favoritos'}" class="card-body" th:action="@{/sorteio/{idsorteio}/favoritos/{idaposta}/(idsorteio=${sorteio.numeroDoSorteio}, idaposta=${aposta.id})}" method="POST">
			<div>
				<button class="btn btn-success"type = "submit">Fazer Aposta</button>
			</div>
		</form>
				
				</div>
			</div>
			
		</div>
	</div>
	</div>
</body>
</html>