<html>
<head th:replace="~{fragment :: head}"></head>
<body>
	<div th:replace="~{fragment :: menu}"></div>
	<div class="container">
		<div th:replace="~{fragment :: titulo('Apostas Favoritas')}"></div>
	
	<div class="card mb-3 mt-3" th:each="aposta : ${apostas}">

		<th:block th:switch="${#strings.toString(aposta.status)}">
			<div th:case="'GANHOU'" class="card-header alert-success">
				Aposta de número: <span th:text="${aposta.id}"></span>
			</div>
			<div th:case="'PERDEU'" class="card-header alert-danger">
				Aposta de número: <span th:text="${aposta.id}"></span>
			</div>
		</th:block>

		<div class="card-body">
			<div class="row">
				<div class="col-12 col-sm-9 mb-3">
					<div>
						Números apostas: <span th:text="${aposta.numeros}"></span>
					</div>
					<div>
						Status: <span th:text="${aposta.status}"></span>
					</div>

				</div>
				<div class="col-12 col-sm-3"></div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>