<html>
<head th:replace="~{fragment :: head}"></head>
<body>
	<div th:replace="~{fragment :: menu}"></div>
	<div class="container">
		<div th:replace="~{fragment :: titulo('Apostas')}"></div>
		<nav
			class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
			<div th:if="${#strings.toString(sorteio.status)} == 'FECHADO'"
				class="navbar-nav">
				<a th:classappend="${status} == null ? 'active'"
					class="nav-item nav-link"
					th:href="@{/sorteio/{id}/apostas/(id=${sorteio.numeroDoSorteio})}">Todas</a>
				<a th:classappend="${status} == ganhou ? 'active'"
					class="nav-item nav-link"
					th:href="@{/sorteio/{id}/apostas/ganhou(id=${sorteio.numeroDoSorteio})}">Ganhou</a>
				<a th:classappend="${status} == perdeu ? 'active'"
					class="nav-item nav-link"
					th:href="@{/sorteio/{id}/apostas/perdeu(id=${sorteio.numeroDoSorteio})}">Perdeu</a>
			</div>
		</nav>
		<form class="card-body"
			th:action="@{/sorteio/{id}/sortearaposta/(id=${sorteio.numeroDoSorteio})}"
			method="POST">
			<button th:if="${sorteio.status == 'ABERTO'}"class="btn btn-success" sec:authorize="hasRole('ROLE_ADMIN')" type="submit">
				Sortear
			</button>
		</form>
		<div th:if="${sorteio.foiSorteado} == true">
			O resultado foi:
			<div th:text="${sorteio.dezenasSorteadas}">resultado</div>
		</div>
		<div class="card mb-3 mt-3" th:each="aposta : ${apostas}">

			<th:block th:switch="${#strings.toString(aposta.status)}">
				<div th:case="'GANHOU'" class="card-header alert-success">
					Aposta de número: <span th:text="${aposta.id}"></span>
				</div>
				<div th:case="'PERDEU'" class="card-header alert-danger">
					Aposta de número: <span th:text="${aposta.id}"></span>
				</div>
			</th:block>

			<div class="card-body">
				<div class="row">
					<div class="col-12 col-sm-9 mb-3">
						<div>
							Números apostas: <span th:text="${aposta.numeros}"></span>
						</div>
						<div>
							Quem apostou: <span th:text="${aposta.usuario.username}"></span>
						</div>
						<div>
							Status: <span th:text="${aposta.status}"></span>
						</div>

					</div>
					<div class="col-12 col-sm-3"></div>
				</div>
			</div>
		</div>
		<a th:if="${sorteio.foiSorteado == false}"
			th:href="@{/sorteio/{id}/formularioaposta/(id=${sorteio.numeroDoSorteio})}">
			<button sec:authorize="hasRole('ROLE_USER')" type="submit" class="btn btn-success mt-3">Apostar</button>
		</a>
	</div>
</body>
</html>
