<html>
<head th:replace="~{fragment :: head}"></head>
<body>
<div th:replace="~{fragment :: menu}"></div>
	<div class="container">
		<div th:replace= "~{fragment :: titulo('Criacao de aposta')}"></div>
		<div class="card mt-3">
			<form class="card-body" th:action="@{/sorteio/{id}/numerossorteio/(id=${sorteio.numeroDoSorteio})}" method="POST">
				<table class="table table-striped">
  <thead>
  Tabela de preços:
    <tr>
      <th scope="col">Número de Dezenas</th>
      <th scope="col">Preço</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">6</th>
      	<td>R$ 3,00</td>
    </tr>
	<tr>
      <th scope="row">7</th>
      	<td>R$ 15,00</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      	<td>R$ 90,00</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      	<td>R$ 300,00</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      	<td>R$ 1500,00</td>
    </tr>
  </tbody>
</table>
				<div class="form-group mt-3">
					<label>Quantidade de numeros para apostar</label> 
					<input th:name="quantidadeform" value=0 > 
					<button class="btn btn-success mt-3" type="submit">Next</button>
				</div>
			</form>
			
				<div class="form-group mt-3">
					<a th:href="@{/sorteio/{idsorteio}/favoritos/(idsorteio=${sorteio.numeroDoSorteio})}"><button class="btn btn-success mt-3" type="submit">Favoritos</button></a>
				</div>
			
		</div>
	</div>
</body>
</html>